<div class="jumbo show-listing">
  <h2 class="title">{{model.question}}</h2>
	<label><input type="radio" name="selectone"/> {{model.option1}}</label>
	<label><input type="radio" name="selectone"/> {{model.option2}}</label>
	<label><input type="radio" name="selectone"/> {{model.option3}}</label>
   </div>
  
