<div style="text-align:center;">
	<head>
		<style>
			body {background-color:#99ccff;font-color:white}
		</style>
	</head>
	<body>
		<h1 style="font-family:trebuchet;color:white">QUIZ</h1>
		{{outlet}}
	</body>
</div>
