<div  style="color:#dcdcdc">
	<h1> HELP
</h1>
<p style="text-align:left">
	This help document is to describe how to play the game. There are 3
	questions, each having multiple answer choices. Each question carries a weightage of one mark.
</p>
<p style="text-align:left">
	You can choose to answer the question or skip it and pass to the next question.
</p>
</div>
