<h1 class="appname">
	<span>Q</span>
	<span>U</span>
	<span>I</span>
	<span>Z</span>
</h1>
<div class="usernameWrapper">
	<label for="username" style="color:#dcdcdc;font-family:verdana">Enter your name</label><br/>
	<input type="text" size="50" class="username">
</div>
<div class="footer">
	<div>
		<button class="selectStart" {{ action "saveUser"}}>
	 Start Game
	 </button>
	</div>
	<div>
		<button class="selectBottom" {{action "gotoHelp"}}>
Help
</button>
	</div>
</div>
