<h1 class="appname">
	<span>Q</span>
	<span>U</span>
	<span>I</span>
	<span>Z</span>
</h1>
<div class="usernameWrapper">
	<label for="username" style="color:#dcdcdc;font-family:verdana">Enter your name</label><br/>
	<input type="text" size="50" style="background-color:#383838;padding: 10px 50px;border-radius:45px;border-size:60px;border:none;bottom:10px">
</div>
<div class="footer">
	<div>
		<button class="selectStart" {{ action "saveUser"}}>
	 Start Game
	 </button>
	</div>
	<div>
		<button class="selectBottom"> {{#link-to 'help'}}
Help
{{/link-to}}
</button>
	</div>
</div>
