<div><h1>RESULTS></h1>
<p> Congratulations. <br> Your score is </p>
</div>
<div>
<button>{{#link-to "questions.q1" 1}} Play Again {{/link-to}}</button>
<button>{{#link-to "home"}} New Game {{/link-to}}</button>
</div>

