<div>
	<h1>RESULTS</h1>
	<p>
		Congratulations.
		<br> Your score is
	</p>
	{{ totalScore}}
</div>
<div>
	<style>
		button {background-color:#3399ff;
			border-radius:20px;
			border-size:2px;
			color: black;
			font-style: verdana;
			padding: 12px 23px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			font-size: 15px;cursor:pointer}
	</style>
	<button {{ action "showFirstQuestion" }}> Play Again</button>
	<button {{ action "goHome" }}>New Game</button>
</div>
